import(Rcpp)
import(methods)
import(parallel)
importFrom("grDevices", "hcl")
importFrom("graphics", "abline", "legend", "matplot", "par")
importFrom("stats", "rnorm")
importFrom("utils", "head", "installed.packages")
useDynLib(clere)
exportPattern("^[[:alpha:]]+")
